.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 26px;
  background-color: #0f0b06;
}

.product-container {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-width: auto;
}

.pre-btn,
.next-btn {
  z-index: 999;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0); */
}

.next-btn {
  right: 0;
}

.next-btn p,
.pre-btn p {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.436);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.next-btn p:hover,
.pre-btn p:hover {
  background-color: white;
  border-radius: 5px;
}

#newProd {
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding-left: 15px;
  font-family: sans-serif;
  padding-bottom: 10px;
}

#newProd span {
  color: #fcde04;
  font-weight: 600;
}
